.cart {
  max-width: 960px;
  padding-top: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
  
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proceed{
  background: #f4f4f4;
}



.form div {
  margin-bottom: 0.4em;
}

.btn-checkout {
  min-width: 100%;
}
  

button:hover, .btn:hover {
  transition: 0.2s;
}

.shopnow{
  background-color: #000;
  padding: 10px 20px;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s;
  cursor: pointer;
}
  
.shopnow:hover {
  text-decoration: none;
  color: black;
  background-color: #fda900;
}

.shopnow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}
.shopnow span:after {
  position: absolute;
  font-size: 30px;
  top: 2px;
  right: -6px;
  transition: all 0.5s;
}
.shopnow:hover span {
  padding-right: 25px;
}
.shopnow:hover span:after {
  top: 2px;
  right: -6px;
}

