

.card {
    margin-top: 78px;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;

}

.img-detail{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

