.itemcard{
    width: 16rem;
    height: 26rem;
    margin: 1rem;
}
.imgcard{
    width: 100%;
    height: 50%;
    object-fit:contain;
}

.textcard{
    width: 100%;
    height: 40%;
    background-color:#292b2c ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.btncompra{
    width: 100%;
    border-radius: 0;
}

.textdesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.text{
    height: 75%;
    overflow: hidden;
    
}
